@font-face {
    font-family: "Roboto Bold";
    src: url(/tienda/assets/font/Roboto-Bold.ttf);
}

.seccionProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1024px;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.productos {
    display: flex;
    row-gap: 1rem;
    flex-wrap: wrap;
    padding: 0 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: #e9ea8b;
    transition: display 0.3s ease;
}

.loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top: 5px solid #dc2829;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.oculto {
    display: none;
}

.cardProducto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: white;
    border-radius: 0.8rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 21rem;
    padding: 1.5rem;
    margin: 1.5rem;
    overflow: hidden;
}

.cardProducto:hover {
    transform: translateY(-0.5rem);
    transform: scale(105%);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

.itemProducto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    width: 100%;
}

.productoImagen {
    width: 80%;
    height: auto;
    object-fit: contain;
    margin: 1rem auto;
    padding-bottom: 1rem;
}

.productoNombre {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #160d02;
}

.decoracionLinea {
    width: 80%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
}

.productoPrecio {
    font-family: "Roboto Bold";
    font-size: 2rem;
    font-weight: 900;
    color: #dc2829;
    margin-bottom: 1rem;
}

.btnComprar,
.btnCategoria {
    flex: 1 1 180px;
    width: 80%;
    min-width: 160px;
    margin: 0.5rem 0;
    text-align: center;
    opacity: 60%;
    padding: 0.8rem 1.5rem;
    color: #000;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    max-height: 40px;
    margin: 0.5rem auto;
    background-color: #e9ea8b;
}

.btnComprar:hover,
.btnCategoria:hover,
.btnCategoria.categoriaActiva,
#btnComprarVistaProducto {
    opacity: 100%;
    background: #ff7200;
    color: white;
}

.botonesCategorias,
.seccionProductos>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#tituloCategorias{
    margin-top: 1rem;
}

.btnCategoriaContenedor {
    display: flex;
    justify-content: center;
    width: 100%;
}

.botonesCategorias .btnCategoria[data-idCategoria="todas"] {
    order: -1;
}

.categoria {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.categoriaHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.categoriaHeader h2 {
    font-size: 2rem;
}

.categoria.oculto {
    display: none;
}

@media (max-width: 768px) {
    .seccionProductos {
        gap: 1rem;
        padding: 0.5rem;
    }

    .cardProducto {
        width: 18rem;
        padding: 1rem;
        margin: 1rem;
    }

    .productoNombre {
        font-size: 1.6rem;
    }

    .productoPrecio {
        font-size: 1.8rem;
    }

    .btnComprar {
        width: 90%;
        padding: 0.6rem 1rem;
    }

    .categoriaHeader h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .seccionProductos {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5rem;
    }

    .cardProducto {
        width: 100%;
        padding: 1rem;
        margin: 0.5rem 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .productoNombre {
        font-size: 1.4rem;
    }

    .productoPrecio {
        font-size: 1.6rem;
    }

    .btnComprar {
        width: 100%;
        padding: 0.5rem 0.8rem;
    }

    .categoriaHeader h2 {
        font-size: 1.2rem;
    }

    .toggleCategoria {
        font-size: 1.2rem;
    }

    .seccionProductos>h2 {
        font-size: 1.6rem;
    }

    footer h2 {
        font-size: 1rem;
        text-align: center;
        padding: 1rem;
    }
}